.app {
  background-image: linear-gradient(orange, rgb(255, 255, 122));
  height: 100vh;
  text-align: center;
}
.app-header {
  color: blue;
  font-family: sans-serif;
}
.app-main-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app-left {
  flex-basis: 60%;
  position: relative;
  top: 70px;
}
.app-right {
  flex-basis: 40%;
}
.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0800ff;
}
.app-span-month {
  color: red;
  font-weight: bolder;
}

@media screen and (max-width: 700px) {
  .app {
    height: 130vh;
  }
  .app-main-area {
    display: block;
  }
  .app-left {
    position: relative;
    top: 5px;
  }
  .app-right {
    position: relative;
    top: 10px;
    left: 40px;
    width: 120%;
    height: 280px;
  }
}
